#duplicate-results-table {
    background: #212532;
    color: #FFF;
    font-size: 14px;
}
#duplicate-results-table .gr-checkbox {
    margin-right: 6px;
}
#duplicate-results-table .gr-highlightedtext {
    background: #181b25;
    color: #b6daf7;
    border-radius: 3px;
    padding: 2px 5px;
}